<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.packt.asyncandroid"
    android:versionCode="3"
    android:versionName="1.0.2">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        CHAPTER1: HURTING THE MAIN THREAD EXAMPLES
        -->
        <activity
            android:name=".chapter1.example1.ANRActivity"
            android:label="@string/ch1_ex1"
            android:description="@string/ch1_ex1_desc"/>

        <activity
            android:name=".chapter1.example2.ChoreographerActivity"
            android:label="@string/ch1_ex2"
            android:description="@string/ch1_ex2_desc"/>

        <!--
        CHAPTER2: ASYNCTASK EXAMPLES
        -->
        <activity
            android:name=".chapter2.example1.Example1Activity"
            android:label="@string/ch2_ex1"
            android:description="@string/ch2_ex1_desc"/>

        <activity
            android:name=".chapter2.example2.Example2Activity"
            android:label="@string/ch2_ex2"
            android:description="@string/ch2_ex2_desc"/>

        <activity
            android:name=".chapter2.example3.Example3Activity"
            android:label="@string/ch2_ex3"
            android:description="@string/ch2_ex3_desc"/>

        <activity
            android:name=".chapter2.example4.Example4Activity"
            android:label="@string/ch2_ex4"
            android:description="@string/ch2_ex4_desc"/>

        <activity
            android:name=".chapter2.example5.Example5Activity"
            android:label="@string/ch2_ex5"
            android:description="@string/ch2_ex5_desc"/>

        <activity
            android:name=".chapter2.example6.Example6Activity"
            android:label="@string/ch2_ex6"
            android:description="@string/ch2_ex6_desc"/>

        <activity
            android:name=".chapter2.AsyncTaskMedleyActivity"
            android:label="@string/ch2_medley"
            android:description="@string/ch2_medley_desc"/>

        <!--
        CHAPTER3: HANDLER/HANDLERTHREAD EXAMPLES
        -->
        <activity
            android:name=".chapter3.example1.ExplicitHandlerPrimesActivity"
            android:label="@string/ch3_ex1a"
            android:description="@string/ch3_ex1a_desc"/>

        <activity
            android:name=".chapter3.example1.ViewHandlerPrimesActivity"
            android:label="@string/ch3_ex1b"
            android:description="@string/ch3_ex1b_desc"/>

        <activity
            android:name=".chapter3.example2.PostDelayedActivity"
            android:label="@string/ch3_ex2"
            android:description="@string/ch3_ex2_desc"/>

        <activity
            android:name=".chapter3.example3.EchoActivity"
            android:label="@string/ch3_ex3"
            android:description="@string/ch3_ex3_desc"/>

        <activity
            android:name=".chapter3.example4.HandlerThreadActivity"
            android:label="@string/ch3_ex4"
            android:description="@string/ch3_ex4_desc"/>

        <activity
            android:name=".chapter3.example5.CompassActivity"
            android:label="@string/ch3_ex5"
            android:description="@string/ch3_ex5_desc"
            android:screenOrientation="locked"/>

        <!--
        CHAPTER4: LOADER EXAMPLES
        -->
        <activity
            android:name=".chapter4.example1.ThumbnailActivity"
            android:label="@string/ch4_ex1"
            android:description="@string/ch4_ex1_desc">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".chapter4.example2.MediaStoreActivity"
            android:label="@string/ch4_ex2"
            android:description="@string/ch4_ex2_desc"/>

        <activity
            android:name=".chapter4.example3.MediaStoreActivity"
            android:label="@string/ch4_ex3"
            android:description="@string/ch4_ex3_desc"/>

        <activity
            android:name=".chapter4.example4.PrimesActivity"
            android:label="@string/ch4_ex4"
            android:description="@string/ch4_ex4_desc"
            android:windowSoftInputMode="stateUnchanged"/>

        <activity
            android:name=".chapter4.example5.FileListActivity"
            android:label="@string/ch4_ex5"
            android:description="@string/ch4_ex5_desc"/>

        <!--
        CHAPTER5: INTENTSERVICE EXAMPLES
        -->
        <service
            android:name=".chapter5.example1.PendingIntentPrimesIntentService"
            android:exported="false"/>

        <activity
            android:name=".chapter5.example1.PendingIntentPrimesActivity"
            android:label="@string/ch5_ex1"
            android:description="@string/ch5_ex1_desc"/>

        <service
            android:name=".chapter5.example2.NotifyingPrimesIntentService"
            android:exported="false"/>

        <activity
            android:name=".chapter5.example2.NotifyingPrimesActivity"
            android:label="@string/ch5_ex2"
            android:description="@string/ch5_ex2_desc"/>

        <service
            android:name=".chapter5.example3.MessageSendingPrimesIntentService"
            android:exported="false"/>

        <activity
            android:name=".chapter5.example3.MessageSendingPrimesActivity"
            android:label="@string/ch5_ex3"
            android:description="@string/ch5_ex3_desc"/>

        <service
            android:name=".chapter5.example4.BroadcastingPrimesIntentService"
            android:exported="false"/>

        <activity
            android:name=".chapter5.example4.BroadcastReceivingPrimesActivity"
            android:label="@string/ch5_ex4"
            android:description="@string/ch5_ex4_desc"/>

        <service
            android:name=".chapter5.example5.UploadIntentService"
            android:exported="false"/>

        <activity
            android:name=".chapter5.example5.UploadPhotoActivity"
            android:label="@string/ch5_ex5"
            android:description="@string/ch5_ex5_desc"/>

        <!--
        CHAPTER6: SERVICE EXAMPLES
        -->
        <service
            android:name=".chapter6.example1.PrimesConcurrentIntentService"
            android:exported="false"/>

        <activity
            android:name=".chapter6.example1.PrimesActivity"
            android:label="@string/ch6_ex1"
            android:description="@string/ch6_ex1_desc"/>

        <service
            android:name=".chapter6.example2.LocalPrimesService"
            android:exported="false"/>

        <activity
            android:name=".chapter6.example2.LocalPrimesActivity"
            android:label="@string/ch6_ex2"
            android:description="@string/ch6_ex2_desc"/>

        <service
            android:name=".chapter6.example3.MessageSendingPrimesService"
            android:exported="false"/>

        <activity
            android:name=".chapter6.example3.MessageReceivingPrimesActivity"
            android:label="@string/ch6_ex3"
            android:description="@string/ch6_ex3_desc"/>

        <service
            android:name=".chapter6.example4.BroadcastingPrimesService"
            android:exported="false"/>

        <activity
            android:name=".chapter6.example4.BroadcastReceivingPrimesActivity"
            android:label="@string/ch6_ex4"
            android:description="@string/ch6_ex4_desc"/>

        <service
            android:name=".chapter6.ConcurrentDownloadService"
            android:exported="false"/>

        <activity
            android:name=".chapter6.example5.DownloadActivity"
            android:label="@string/ch6_ex5"
            android:description="@string/ch6_ex5_desc"/>

        <activity
            android:name=".chapter6.example6.NasaImageOfTheDayActivity"
            android:label="@string/ch6_ex6"
            android:description="@string/ch6_ex6_desc"/>

        <!--
        CHAPTER7: SERVICE EXAMPLES
        -->
        <receiver android:name=".chapter7.example1.AlarmReceiver">
          <intent-filter>
            <action android:name="static_receiver"/>
          </intent-filter>
        </receiver>

        <activity
            android:name=".chapter7.example1.StaticReceiverAlarmActivity"
            android:label="@string/ch7_ex1"
            android:description="@string/ch7_ex1_desc"/>

        <activity
            android:name=".chapter7.example2.DynamicReceiverAlarmActivity"
            android:label="@string/ch7_ex2"
            android:description="@string/ch7_ex2_desc"/>

        <activity
            android:name=".chapter7.example3.AlarmSettingActivity"
            android:label="@string/ch7_ex3"
            android:description="@string/ch7_ex3_desc">
        </activity>

        <receiver android:name=".chapter7.example3.AsyncBroadcastReceiver">
          <intent-filter>
            <action android:name="primes_async_receiver"/>
          </intent-filter>
        </receiver>

        <activity
            android:name=".chapter7.example4.SetServiceAlarmActivity"
            android:label="@string/ch7_ex4"
            android:description="@string/ch7_ex4_desc"/>

        <receiver android:name=".chapter7.example5.AlarmReceiver">
            <intent-filter>
                <action android:name="wakelock_primes_receiver"/>
            </intent-filter>
        </receiver>

        <service android:name=".chapter7.example5.AwakePrimesIntentService"/>

        <activity
            android:name=".chapter7.example5.SetBroadcastAlarmActivity"
            android:label="@string/ch7_ex5"
            android:description="@string/ch7_ex5_desc"/>

        <activity
            android:name=".chapter7.example6.SetActivityAlarmActivity"
            android:label="@string/ch7_ex6"
            android:description="@string/ch7_ex6_desc"/>

    </application>

</manifest>
